{% extends "base.html" %}
{% load static %}

{% block content %}
{{ variable }}
{% if user.is_authenticated %}
<h1>Hi {{ request.user.username }}</h1>
<a href="/logout/" class="button">Logout</a>
<a href="/contentestion/" class="button">Add contentestion</a>
{% else %}
<a href="/login/" class="button">Login</a>
{% endif %}


<div class="grid-x grid-padding-x">
    <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
    <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">

<div id="app-4">
<span v-if="unseen">
    <div v-for="content in contentestions">
        <div class="card-info info">
            {% verbatim %}
            <div class="card-info-label">
                <div class="card-info-label-text">
                {{ content.author }}
                </div>
            </div>
            <div class="card-info-content">
                <h3 class="lead">{{ content.contentestion }}</h3>
                <p>Created on: {{ content.created_on }}</p>
                <img v-bind:src="content.image" v-bind:alt="content.image_description">
                <a v-bind:href="'/comment/'+ content.id+'/'" class="button">comment</a>
            </div>
            {% endverbatim %}
        </div>
        <div class="grid-x grid-padding-x">
            <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
            <div class="large-11 medium-11 small-12 large-offset-1 medium-offset-1 cell">
                    <div v-for="comm in content.comments">
                            <div class="card-info info">
                                {% verbatim %}
                                <div class="card-info-label">
                                    <div class="card-info-label-text">
                                    {{ comm.author }}
                                    </div>
                                </div>
                                <div class="card-info-content">
                                    <h3 class="lead">{{ comm.comment }}</h3>
                                    <p>Created on: {{ comm.created_on }}</p>
                                    <span v-if="comm.delete"><a v-bind:href="'/comment/'+ comm.id+'/1/'" class="alert button">delete</a></span>
                                </div>
                                {% endverbatim %}
                            </div>
                        </div>
            </div>
        </div>
    </div>

</div>
</span>
</div>
<!-- <div id="app">
    {% verbatim %}
    {{ message }}
    {% endverbatim %}
</div> -->
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
